## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_('About')}</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      var hash = window.location.hash

      if (hash) {
        $('section' + hash).show();
        $('#about-menu a.' + hash.substring(1)).addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }

      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#about" class="about active">${_('Acerca de')}</a>
    <!--<a href="#careers" class="careers">${_('Careers')}</a> -->
    <a href="#contact" class="contact">${_('Contacto')}</a>
  </nav>

  <section class="vision">

## About Section ##
    <section class="message left" id="about">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/book-books-circle-curly-education-2869/
        -->
        <img src="${static.url('themes/utpl_final/images/utpl-logo.png')}" alt="" />
      </div>
      <article>
        <h2>${_('About')}</h2>

       <p align="justify">La Universidad Técnica Particular de Loja (UTPL) apuesta por un modelo educativo basado en MOOCs, que fomente la autonomía y la interacción de los estudiantes y que permita evidenciar el aprendizaje a través de instrumentos de evaluación y que promuevan la responsabilidad del estudiante al momento de valorar el trabajo en el aula; y por ello ha diseñado, a través de la Dirección Modalidad de Educación a Distancia, Dirección General de Investigación y la Sección Departamental Tecnologías Avanzadas de la Web y Sistemas Basados en el Conocimiento, una serie de acciones para fomentar la creación y el desarrollo de MOOCs, que con el crecimiento de la demanda de la educación abierta y en línea, iniciativas de este tipo se han llegado a convertir en una opción en la que confían cientos e incluso miles de estudiantes en todo el mundo.</p>
<p alingh="justify"> Nuestro objetivo es promover la educación masiva a través de una plataforma adecuada.</p>

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

## Careers Section ##
    <section class="message left" id="careers">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/man-corporate-businessman-suit-tie-871960/
        -->
        <img src="${static.url('themes/utpl_final/images/utpl-logo.png')}" alt="" />
      </div>
      <article>
        <h2>${_('Careers')}</h2>
        
        <p>Your job postings go here!</p>

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

## Contact Section ##
    <section class="message left" id="contact">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/network-cobweb-dewdrop-586177/
        -->
        <img src="${static.url('themes/utpl_final/images/utpl-logo.png')}" alt="" />
      </div>
      <article id="stanford-OpenEdX-contact">
        <h2>${_('Contact Us')}</h2>

        <p>Equipo MOOC UTPL: moocs@utpl.edu.ec</p>

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
