## mako
<%!
  from django.conf import settings
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>Términos de Servicio</title></%block>

<section class="home">
	<section class="courses-container">
		<section class="highlighted-courses bloque4">
	      		<div class="texto-titulo"><br/><h2 class="titulo">Partners</h2></div>
	    		<section class="courses seccion-partners">
	                        <ul class="courses-listing">
	                           <li class="courses-listing-item border_bloques">
	                               <a href="http://ambar.utpl.edu.ec/" target="_blank"><img src="${static.url('themes/utpl_final/images/ambar.jpg')}" width="100%" height="80px" alt=""/> </a> </li>
	
	                            <li class="courses-listing-item border_bloques">
	                               <a href="http://moocs.utpl.edu.ec/" target="_blank"><img src="${static.url('themes/utpl_final/images/Moccs-utpl.jpg')}" width="100%" height="80px" alt=""/> </a> </li>
	                               
				     <li class="courses-listing-item border_bloques">
	                                 <a href="http://es-la.dbpedia.org/" target="_blank"><img src="${static.url('themes/utpl_final/images/dbpedia.jpg')}" width="100%" height="80px" alt=""/> </a> </li>
	                              
				     <li class="courses-listing-item border_bloques">
	                                 <a href="http://www.utpl.edu.ec/" target="_blank"><img src="${static.url('themes/utpl_final/images/utpl_logo.jpg')}" width="100%" height="80px" alt=""/></a> </li>

                                     <li class="courses-listing-item border_bloques">
				     <center> <a href="http://medialab.utpl.edu.ec/" target="_blank"><img src="${static.url('themes/utpl_final/images/mediaLab_logo.jpg')}" width="50%" height="80px" alt=""/></a> </center> </li>
	                        </ul>
	                </section>
		</section>
	</section>
</section>

<section class="static-container tos">

</section>
</script>
